<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chatgpt_image_14_may_2026_17_41_28_photoroom"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatgpt_image_14_may_2026_17_41_28_photoroom"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bankamobil">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:exported="false" />
    </application>

</manifest>